#rems-conmon-table{

    td{
        white-space: inherit;
    }
}

.history-tab{
    .responsive-table.data-table-div{
        max-height: 330px;
        table {
            min-width: 1000px;
        }
    }

}